{% extends "layout.html" %}
{% block content %}
<h1>Liste aller hochgeladenen Fotos</h1>



<table border=1>
    {% for entry in data %}
    <tr>
        <td>
            
            <table  style="display: block;max-width:400px; " >
                {% for key in entry.__dict__.keys() %}
                <tr>
                    <td>
                        {{key}}:
                    </td>
                    <td>
                        {{entry.__dict__[key]}}
                    </td>
                </tr>
                {%endfor%}

            </table>
        </td>
        <td>
            {% set fpath = entry.id ~ '/'~ 'file.' ~ entry.fileFileextension  %}

            <a href="{{url_for('download_file', filename=fpath)}}" download>
                <img src="{{url_for('download_file', filename=fpath)}}" alt="Download File" width="400">
            </a>
        </td>
    </tr>
    {%endfor%}
</table>


{% endblock content %}