{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="col-md-8">
    <h1>{{title}}</h1>

    {%if manual%}
      <div><p>{{manual}}</p></div>
    {%endif%}


    {%if download%}
      <div>
        {%for fname in download%}
          <p><a href="{{url_for('download_public_file', filename=fname)}}" download>{{fname}}</a></p>
        {%endfor%}
      </div>
    {%endif%}

    {%if prevErg%}
    {% include "erfolg.html" %}
    {%endif%}


    {% for field, errors in form.errors.items() %}
    <div class="content-error">
      <div class="alert alert-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
    </div>
    {% endfor %}


    <form method="POST" enctype="multipart/form-data">

      {% for field in form if not ((field.__class__.__name__ == 'SubmitField') or (field.__class__.__name__ ==
      'CSRFTokenField'))
      %}
      
      <div class="form-group">
        {{field.label(class="form-control-label")}}
        {%if field.errors%}
        {{field(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
          {%for error in field.errors%}
          <span>{{email}}</span>
          {%endfor%}
        </div>
        {%else%}
        {{field(class="form-control form-control-lg")}}
        {%endif%}
      </div>
      {%endfor%}

      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.submit }}
      </div>

     
    </form>
  </div>
</div>

{% endblock content %}